@using WebAdminPortal.Models.ViewModels
@model InformesViewModels


<h1>Crear Nuevo Informe</h1>


<hr />

<div class="row">

    <div class="col-md-4">

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <p> </p>
            </div>
            <div class="form-group">
                <label asp-for="NombreInforme" class="control-label"></label>
                <input asp-for="NombreInforme" class="form-control" />
                <span asp-validation-for="NombreInforme" class="text-danger"></span>
            </div>
            <div>
                <p> </p>
            </div>
            <div class="form-group">
                <label asp-for="TipoInforme" class="control-label"></label>
                <input asp-for="TipoInforme" class="form-control" />
                <span asp-validation-for="TipoInforme" class="text-danger"></span>
            </div>

            <div>
                <p> </p>
            </div>
            
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div>
                <p> </p>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>

        </form>
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>

</div>


@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
            }